.app-logo {

  position: absolute;
  left: 15px;
  z-index: 2;

  img {
    width: 100px;
  }

  a {
    font-family: "Oswald", sans-serif;
    margin-top: -27px;
    font-size: 50px;
    font-weight: 300;
    color: rgba( 231, 76, 60, 1 );

    &:hover {
      text-decoration: none;
    }
  }

  @include breakpoint($bp-mobile) {
    left: -5px;
  }
}

.menu {
  background-color: $color-header;
  height: 65px;
  padding-top: 10px;

  .menu-list {
    .menu-list-item {
      float: right;

      a {
        color: $color-header-link;
        font-size: 18px;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: darken( $color-header-link, 30%);
        }
      }

      @include breakpoint( $bp-mobile ) {
        width: 75px;

        a {
          font-size: 16px;
        }
      }
    }

    .register {
      border: 2px solid $color-header-link;
      border-radius: 3px;
      margin-top: 4px;

      a {
        padding: 7px;
      }
    }
  }
}


.profile .main-container,
.register .main-container,
.login .main-container,
.profile-edit .main-container,
.password-forget .main-container,
.password-reset .main-container,
.profile-register .main-container {
  position: relative;

  form {
    position: absolute;
    top: 22px;
    left: 150px;
    max-width: 700px;

    .search-what,
    .search-where {
      float: left;
      position: relative;

      input {
        background-color: #ECF0F1;
        height: 30px;
        padding-left: 60px;
        width: 250px;
        border: none;
        border-bottom: 1px solid #7F8C8D;
        border-radius: 0px;
        margin-left: 6px;

        &:active {
          border: 0px;
        }
      }

      label {
        position: absolute;
        top: 0px;
        left: 10px;
        font-size: 14px;
        color: #7F8C8D;
        text-transform: uppercase;
      }
    }

    .search-what {
      margin-right: 10px;
    }

    .search-where {
      margin-right: 50px;

      input {
        padding-left: 70px;
      }
    }

    .search-submit {
      float: left;
      border-bottom: 0px;

      button {
        width: 80px;
        height: 35px;
        margin-left: 0px;
        color: #f6f6f6;
        text-transform: uppercase;
        font-size: 16px;
        margin-top: -4px;
        padding: 1px;
      }
    }

    @include breakpoint( $bp-smaller ) {

      position: relative;
      margin-top: -43px;
      left: initial;
      top: initial;
      max-width: 730px;
      margin-right: 227px;

      .search-what,
      .search-where,
      .search-submit {

        width: 100%;

        > div {
          width: 250px;
          margin: 0 auto;
          position: relative;
        }
      }

      .search-where {
        margin-top: 10px;
      }

      .search-submit {
        .btn-sm {
          margin-top: 10px;
          width: 100%;
        }
      }
    }

    @include breakpoint( $bp-mobile ) {
      margin: 20px 0 ;
      width: 100%;
      padding-right: 15px;

      .search-where,
      .search-what,
      .search-submit {
        margin: 30px auto;
        float: none;
        width: 282px;

        input {
          width: 282px;
        }

        > div {
          width: initial;
        }
      }

      .search-where {
        margin-top: 8px;
      }

      .search-submit {

        .btn-sm {
          width: 282px;
          height: 40px;
          display: block;
        }
      }
    }
  }
}
