<div class="container" data-ng-controller="main.controller">
    <div class="row">
        <div class="col-md-12">

            <div class="pw-forget">

                <h3>Need to reset your password?</h3>
                <h5><span class='text-{{msg.class}}' ng-bind="msg.data"></span></h5>

                <div class="form-group col-md-4">
                    <label>Email Address</label>
                    <input class='form-control' placeholder='Email' type="email" ng-model="user.credentials.email" required />
                </div>

                <div class="form-group col-md-12">
                    <button class='btn btn-sm btn-primary fud-btn' ng-click="pwForget()">Send</button>
                    <br />
                    <a class="btn btn-link" ui-sref="login">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>