<div class="container guest-register-modal" ng-controller="main.controller">

    <section class="text-center main" collapse="start_register === true">

        <h4>Copy the address below to share with others!</h4>

        <input id='url_input' value="{{ BASE_URL + '/' }}{{ user.profile.slug }}" />

        <span>(They'll see the places already chosen as well)</span><br />

        <h6 class='reminder'>Come back at {{user.profile.reminder_time | date:"shortTime"}} to see the winner!</h6>

        <h5>Or create a profile, and setup simple reminders.</h5>

        <button class="btn btn-warning btn-lg" ng-click="cancel()">No Thanks</button>

        <button class="btn btn-primary btn-lg" ng-click="start_register = true;">Create Profile</button>

    </section>

    <section class="text-center register-init" collapse="final_step === true || start_register === false">

        <h5>Set a reminder for today's results?</h5>

        <div class='timepicker-container'>
            <timepicker ng-model="user.profile.reminder_time" ng-change="user.profile.reminder_updated = user.profile.reminder_updated + 1" hour-step="1" minute-step="1" show-meridian="true" mousewheel="false"></timepicker>
        </div>

        <div class="form-group">

            <button class="btn btn-warning" ng-click="user.profile.reminder_updated = 0; finish();">I can do this later</button>&nbsp;&nbsp;

            <button class="btn btn-primary" ng-click="user.profile.reminder_updated = user.profile.reminder_updated + 1; finish();">

                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;

                Remind me at &nbsp;<i>{{user.profile.reminder_time | date:"shortTime"}}</i>
            </button>
        </div>
    </section>

    <section class="clearfix" collapse="final_step === false" >
        <div class='last-step'>

            <h3>Last Step!</h3>

            <div data-ng-include="'/views/partials/register-form.html'"></div>

        </div>
    </section>
</div>