<div class="home-bg"></div>
<div class="home-overlay"></div>
<div data-ng-controller="home.controller" class="home-copy container">
    <div class="row">
        <h1 class="col-md-7">Time to eat.</h1>

        <h6 class="col-md-8"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search for something, or just enter a city</h6>
        <h6 class="col-md-8"><i class="fa fa-share-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Share with friends, let them choose too</h6>
        <h6 class="col-md-8"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Send automatic reminders of where to meet</h6>

        <h4 class="col-md-8">Try now, no signup needed <small></small></h4>
    </div>
</div>