<div class="container guest-register-modal">

    <section class="text-center main" collapse="start_register === true">

        <h4>Copy the address below to share with others!</h4>

        <input id='url_input' value="{{ BASE_URL + '/' }}{{ user.profile.slug }}" />

        <span>(If any places have been chosen, they'll show up as well)</span><br />

        <h6 class='reminder'>Come back at {{user.profile.reminder_time | date:"shortTime"}} to see the winner!</h6>

        <button class="btn btn-warning btn-lg" ng-click="cancel()">Close</button>

    </section>
</div>