<div class="login-box container" data-ng-controller="main.controller">

    <h3 class="">Login</h3>
    <h6><span class='text-{{msg.class}}' ng-bind="msg.data"></span></h6>

    <div class="row" collapse="pw_reset">
        <form name="loginForm" ng-submit='login()' class="col-md-5">
            <div class="form-group col-md-7">
                <label>Email</label>
                <input class='form-control' placeholder='Email' type="email" ng-model="user.credentials.email" />
            </div>

            <div class="form-group col-md-7">
                <label>Password</label>
                <input class='form-control' placeholder='Password' type="password" ng-model="user.credentials.password" />
            </div>

            <div class="form-group col-md-12">
                <button class='btn btn-sm btn-primary fud-btn'>Login</button>
            </div>

            <div class="col-md-12">
                <a class="" ui-sref="password-forget">Forgot Password?</a>
            </div>

        </form>
    </div>
</div>