<section class="container main-profile-container" data-ng-controller="profile.controller">
    <div class="row" ng-show="votes.voting_pool.length > 0">

        <div ng-show="true === profile.show_winner" class="clearfix">
            <div data-ng-include="'/views/winner-profile-main.html'"></div>
        </div>

        <div ng-show="false === profile.show_winner;" class="col-md-12 info-header text-center">
            <h3>Choose Up To 3 Places.</h3>
            <h6>Either places you'd go, or places you wouldn't.</h6>

            <div class="form-group">
                <div ng-init="hideSendBtn = true;" collapse="hideSendBtn || ( votes.selected === 0 ); ">
                    <button class="btn btn-warning btn-lg app-btn" ng-disabled='votes.voted' ng-click="send(); disabled = true;">
                        <span>Submit Choices!</span>
                    </button>

                    <div ng-class="votes.voted ? 'text-muted' : '' " class="info">Or keep searching<br />(we'll keep track of your other choices)</div>
                </div>

                <div id="timepicker" class="clearfix" ng-init="edit = false; meridian = true;">
                    <div class="" ng-class=" edit ? 'edit-picker' : '' ">
                        <div collapse="edit === true" style="text-align: left;" >
                            <span>Reminder set for:&nbsp;</span>
                            <span>{{ profile.reminder_time | date:"shortTime" }}</span>
                            <span ng-show='user.logged_in === true && user.profile.slug == profile.slug'><a ng-hide='edit === true' class="btn btn-link" ng-click="edit = true;">(edit)</a></span>

                            <span ng-show='user.logged_in === true && user.profile.slug == profile.slug'>
                                <label class="checkbox" for="checkbox2">
                                    <input id='checkbox2' class="custom-checkbox" type="checkbox" name="checkbox2"
                                           ng-model="user.profile.notify_enable"
                                           ng-change="user.profile.reminder_updated = user.profile.reminder_updated + 1; user.update( user.profile );">
                                    <!--<input type="checkbox" ng-checked="{{user.profile.notify_enable}}" ng-click="user.profile.notify_enable = !user.profile.notify_enable; user.update( user.profile ); user.profile.updateNotify();" value="" id="checkbox2" data-toggle="" class="custom-checkbox">-->
                                    <span class="icons">
                                        <span class="icon-unchecked"></span>
                                        <span class="icon-checked"></span>
                                    </span>
                                    <span ng-hide="user.profile.notify_enable">Reminders are off</span>
                                    <span ng-show="user.profile.notify_enable">Reminders are on</span>
                                </label>
                            </span>
                        </div>
                        <div class='time-edit' collapse="edit === false">
                            <timepicker ng-model="user.profile.reminder_time" ng-change="user.profile.reminder_updated = user.profile.reminder_updated + 1" hour-step="1" minute-step="1" show-meridian="meridian" mousewheel="false"></timepicker>
                            <button class="pull-left btn btn-sm btn-block btn-primary" ng-show="edit === true" ng-click="edit = false; user.update( user.profile ); profile.reminder_time = user.profile.reminder_time;">Update</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <ul class='list-unstyled profile-item-list clearfix' ng-init="collapsed=[];">
                <li class='col-md-4 col-sm-6 col-xs-12 profile-item select-{{business.selected}}' ng-repeat="business in votes.voting_pool" ng-click="business.hide_detail = !business.hide_detail">

                    <div class="item-bg" style="background-image: url( '{{ business.image_url | big_image }}' );"></div>

                    <i class="fa fa-chevron-down remove-item" ng-if="business.selected !==null" ng-click="$event.stopPropagation(); votes.remove(business); business.selected = null; business.hide_detail = true;"></i>

                    <div class="item-container clearfix">

                        <div class="item-header clearfix">
                            <h4 class="item-title pull-left">
                                <span class="item-name" ng-bind="business.name"></span>
                                <!--<span class="item-rating">-->
                                    <!--<span ng-bind='business.rating'></span>-->
                                    <!--<i class="fa fa-star"></i>-->
                                <!--</span>-->
                            </h4>

                            <!--<span class="pull-right"><i class="fa" ng-class="business.hide_detail ? 'fa-chevron-down' : 'fa-chevron-up' "></i></span>-->

                            <address class="item-details">
                                <h5>
                                    <span class="" ng-bind="business.address"></span> <br />
                                    <!--<small ng-if="business.cross_streets">(&nbsp;<span ng-bind="business.cross_streets"></span>&nbsp;)</small>-->
                                </h5>
                            </address>

                            <div class="vote-buttons form-group pull-right buttons">
                                <button ng-click="$event.stopPropagation(); select( business, true );"   class="btn btn-sm btn-primary"><span class="hidden">GO</span><span><i class="fa fa-check"></i></span></button>
                                <button ng-click="$event.stopPropagation(); select( business, false );"   class="btn btn-sm btn-danger"><span class="hidden">NO</span><span><i class="fa fa-close"></i></span></button>
                            </div>

                        </div>

                        <div class="item-details" collapse="business.hide_detail && (business.selected === null)">
                            <address>
                                <h5>
                                    <span class="" ng-bind="business.address2"></span> <br />
                                    <!--<small ng-if="business.cross_streets">(&nbsp;<span ng-bind="business.cross_streets"></span>&nbsp;)</small>-->
                                </h5>
                            </address>

                            <h5 class="item-phone">
                                <a ng-click="$event.stopPropagation();" href="tel:{{business.phone}}" ng-bind="business.display_phone"></a>
                            </h5>

                            <div class="item-footer">

                                <div class="vote clearfix">
                                    <!--<div class="form-group pull-left comment" ng-if="business.selected !== null">-->
                                        <!--<label>Leave a comment (optional)</label>-->
                                        <!--<input maxlength="100" type="text"  class='form-control' ng-model='business.new_comment' placeholder="Be funny, be witty. Be short, be sweet." />-->
                                    <!--</div>-->

                                    <!--<div class="form-group pull-right buttons">-->
                                        <!--<button ng-click="$event.stopPropagation(); select( business, true );"   class="btn btn-sm btn-primary"><span class="hidden">GO</span><span><i class="fa fa-check"></i></span></button>-->
                                        <!--<button ng-click="$event.stopPropagation(); select( business, false );"   class="btn btn-sm btn-danger"><span class="hidden">NO</span><span><i class="fa fa-close"></i></span></button>-->
                                    <!--</div>-->
                                </div>
                            </div><!-- item-footer -->
                        </div><!-- item-details -->
                    </div><!-- item-container -->
                </li>
            </ul>
        </div>
    </div>
</section>