<div class="register container" data-ng-controller="main.controller">

    <h3>Signing up makes it easier to keep daily reminders with friends.</h3>

    <div data-ng-include="'/views/partials/register-form.html'"></div>

</div>