<div class="container" ng-controller="secured.pages.controller">

    <h3>Edit Profile</h3>

    <div class="row">
        <div class="edit-profile clearfix">

            <form name="updateForm" ng-submit='updateProfile()'>
                <div class="col-md-12 clearfix">
                    <div class="form-group col-md-3 col-sm-3" style="padding-left: 0px;">
                        <label>Profile Name</label>
                        <input class="form-control" type="text" ng-model='user.profile.temp_name' minlength="1"/>
                    </div>

                    <div class="form-group col-md-5 col-sm-5" style="padding-left: 0px;">
                        <label>Profile URL</label>

                        <span ng-disabled="true" class="form-control profile-url">
                            <span>{{ BASE_URL + '/' }}{{ user.profile.temp_slug }}</span>
                        </span>
                    </div>

                    <div class="form-group col-md-4 col-sm-4" style="padding-left: 0px;">
                        <label>Preferred Zipcode</label>
                        <input class="form-control" type="text" ng-model='user.profile.zipcode' />
                    </div>
                </div>

                <!--<div class="form-group col-md-6">-->
                    <!--<label>First Name</label>-->
                    <!--<input class="form-control" type="text" ng-model='user.first_name' />-->
                <!--</div>-->

                <!--<div class="form-group col-md-6">-->
                    <!--<label>Last Name</label>-->
                    <!--<input class="form-control" type="text"  ng-model='user.last_name' />-->
                <!--</div>-->

                <div class="col-md-12 clearfix">
                    <h6 style="margin-top: 50px;">Set up a daily reminder (optional)</h6>

                    <div class="form-group col-md-2" style="padding-left: 0px;">
                        <label>Reminder email goes to</label>
                        <input class='form-control' placeholder="team@ishungry.com" type="email" ng-model="user.profile.group_email"  />
                    </div>

                    <div class="col-md-2 text-center">
                        <label style="font-size: 18px; margin-top: 20px;">-- OR --</label>
                    </div>

                    <div class="form-group col-md-5" style="padding-left: 0px;">
                        <label>Reminder sent into Slack (URL)</label>
                        <input class="form-control" type="text"  placeholder='URL that you set up in slack for a particular channel' ng-model='user.profile.webhook_url_in' />
                    </div>

                    <div class="form-group col-md-3" style="padding-left: 0px;">
                        <label>Slack token</label>
                        <input class="form-control" type="text"  placeholder='Outgoing webhook token for slack' ng-model='user.profile.webhook_token' />
                    </div>

                    <div class="form-group col-md-5" style="padding-left: 0px; margin-top:25px;"  ng-init="meridian=true;" >
                        <label>At what time?</label>
                        <timepicker ng-model="user.profile.reminder_time" ng-change="user.profile.reminder_updated = user.profile.reminder_updated + 1;" hour-step="1" minute-step="1" show-meridian="meridian" mousewheel="false"></timepicker>

                        <div ng-class="meridian ? 'bootstrap-switch-on' : 'bootstrap-switch-off' " class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-custom-switch-01 bootstrap-switch-animate">
                            <div class="bootstrap-switch-container" ng-click="meridian = !meridian">
                                <span class="bootstrap-switch-handle-on bootstrap-switch-primary" >12HR</span>
                                <label class="bootstrap-switch-label">&nbsp;</label>
                                <span class="bootstrap-switch-handle-off bootstrap-switch-default" >24HR</span>
                                <input type="checkbox" checked="" data-toggle="switch" id="custom-switch-01">
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group col-md-2" style="padding-left: 0px;">-->
                        <!--<span class="btn btn-info" ng-click="meridian = !meridian">12H / 24H</span>-->
                    <!--</div>-->

                    <!--<div class="form-group col-md-5">-->
                        <!--<h6>UTC offset</h6>-->
                        <!--<small><span ng-bind="profile.utc_offset"></span></small>-->
                    <!--</div>-->

                </div>

                <div class="col-md-12 clearfix">

                    <h6 style="margin-top: 50px;">Change Password (optional)</h6>

                    <div class="form-group col-md-4" style="padding-left: 0px;">
                        <label>Password</label>
                        <input name="pw1" class='form-control' placeholder='Password' type="password" ng-model="user.credentials.password" minlength="7" />
                    </div>

                    <div class="form-group col-md-4 col-md-offset-1" ng-init="password_match = true" style="padding-left: 0px;">
                        <label>Repeat Password &nbsp;&nbsp;<span ng-show="updateForm.pw2.$error.match" class="text-danger">Passwords don't match.</span></label>
                        <input name="pw2" class='form-control' placeholder='Repeat password' type="password" ng-model="user.credentials.password_confirm" match="user.credentials.password" />
                    </div>

                    <!--<div class="form-group col-md-12">-->
                        <!--<label></label>-->
                        <!--<input class="form-control btn btn-sm btn-primary" value="Update Profile" type="submit" ng-click="updateProfile()"/>-->
                    <!--</div>-->

                    <div class="form-group col-md-12" style="padding-left: 0px;">
                        <!--<button class="btn btn-primary btn-md" ng-disabled='password_match'>Update</button>-->
                        <button class="btn btn-primary btn-lg" ng-disabled='updateForm.pw2.$error.match || updateForm.$invalid'>Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>