<div class="register container" data-ng-controller="main.controller">
    <h3>Reset Password</h3>

    <form name="registerForm" ng-submit='pwReset()'>

        <div class="form-group">
            <label>Password</label>
            <input name="pw1" class='form-control' placeholder='Password' type="password" ng-model="user.credentials.password" required="" />
        </div>

        <div class="form-group">
            <label>Repeat Password &nbsp;&nbsp;<span ng-show="registerForm.pw2.$error.match" class="text-danger">Passwords don't match.</span></label>
            <input name="pw2" match="user.credentials.password" class='form-control' placeholder='Type password again' type="password" ng-model="user.credentials.password_confirm" required="" />
        </div>

        <div class="form-group">
            <button class='btn btn-primary fud-btn' ng-disabled='registerForm.$invalid'>Reset</button>
        </div>

    </form>
</div>