<div data-ng-controller="main.controller" class="main-container">
    <section class="menu">
        <div class="container">
            <div class="pull-left">
                <span class="app-logo">
                    <a class="btn btn-link" ng-click="home()">
                        <span class="">nomz</span>
                        <!--<img src="/assets/logo.png" />-->
                    </a>
                </span>
            </div>

            <ul class="menu-list list-unstyled">
                <li class="menu-list-item register" ng-if="!user.logged_in"><a class="btn btn-link" ui-sref="profile-register">Register</a></li>
                <li class="menu-list-item" ng-if="!user.logged_in"><a class="btn btn-link" ui-sref="login">Login</a></li>
                <li class="menu-list-item" ng-if="user.logged_in"><a class="btn btn-link" ui-sref="profile-edit( { profile_slug: user.profile.slug } )">Settings  <i class="fa fa-gear"></i></a></li>
                <li class="menu-list-item" ng-if="user.logged_in"><a class="btn btn-link" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </section>

    <section>
        <div class="clearfix">
            <form class='container search-bar' name='searchForm' ng-submit="search()">
                <div class="search-what" >
                    <div class="clearfix">
                        <label>What</label>
                        <input class='form-control' placeholder="Stella's,  lunch,  pizza" type="text" ng-model="yelp.terms" />
                    </div>
                </div>

                <div class="search-where">
                    <div class="clearfix">
                        <label>Where</label>
                        <input class='form-control' placeholder='Zipcode,  address,  city,  state' type="text" ng-model="yelp.location" />
                    </div>
                </div>

                <div class="search-submit">
                    <div class="clearfix">
                        <button class='form-control btn fud-btn btn-primary btn-sm'><i class="fa fa-search"></i><span class="home-search">&nbsp;&nbsp;&nbsp;Search</span></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>