<div class="col-md-12 winner clearfix">

    <h5>Time to eat.</h5>

    <div class="winner-header pull-left">
        <div class="clearfix">
            <h5 class="title">
                <a target="_blank" href="{{ profile.winner.url }}"><span class="item-name" ng-bind="profile.winner.name"></span></a>
                <span class="item-rating">
                    <span ng-bind='profile.winner.rating'></span>
                    <i class="fa fa-star"></i>
                </span>
            </h5>

            <div class="address">
                <span class="" ng-bind="profile.winner.address"></span>  <br />
                <span class="" ng-bind="profile.winner.address2"></span> <br />
            </div>

            <div class="phone">
                <a class="btn btn-link" href="tel:{{profile.winner.phone}}" ng-bind="profile.winner.display_phone"></a>
            </div>

            <i class="fa fa-close remove-item" ng-click="toggleWinnerPanel()"></i>

        </div>
    </div>
</div>