/**
Matches Bootstrap 3
@see http://getbootstrap.com/css/#responsive-utilities
*/
$bp-xs    : max-width 767px;    // Mobile
$bp-sm    : 768px 991px;        // Tablet - Portrait
$bp-md    : 992px 1199px;       // Tablet - Landscape
$bp-lg    : min-width 1200px;   // Desktop
$bp-1280  : 1024px 1280px;      // custom large - hack for homepage image
$bp-320   : min-width 320px;    // custom xs - hack for homepage image
$bp-1500  : min-width 1500px;
$bp-1281  : min-width 1281px;

/**
By Device Name/BS3
*/
$bp-mobile: max-width 767px;

$bp-xs-sm: max-width 991px;
$bp-mobile-tablet: max-width 991px;

$bp-tablet: 768px 991px;

$bp-sm-md: 768px 1199px;
$bp-tablet-desktop: min-width 768px;

$bp-desktop: min-width 992px;

$bp-smaller: max-width 1088px;

.bootstrap-view-xs,
.bootstrap-view-sm,
.bootstrap-view-md,
.bootstrap-view-lg {
  display: none
}

/**
Samples
*/
/* @include breakpoint($bp-mobile){ ... } */
/* @include breakpoint($bp-xs-sm){ ... } */
/* @include breakpoint($bp-mobile-tablet){ ... } */
/* @include breakpoint($bp-sm-md){ ... } */
/* @include breakpoint($bp-tablet-desktop){ ... } */
/* @include breakpoint($bp-desktop){ ... } */
