$color-blue: rgba(72, 126, 212, 1 );
$color-updated: darken($color-blue, 20%);
$color-white: rgba(246,246,246,1);
$color-grey: rgba(127, 127, 127, 1);

$color-box-shadow: rgba(13, 36, 74, 0.21);

$color-btn-hover: darken($color-blue, 20%);

/* Line separator */
$color-separator: rgb(216, 211, 191);

/* Color for the main page! */
$color-page: #ECF0F1;
//$color-page: #2C3E50;

$color-header: #ECF0F1;

/* Page color needed for sticky footer */
$page-invisible: rgba(255,254,254,0);

$color-profile-address: #BDC3C7;  /* #adadad */

$color-selected: #1ABC9C;

$color-header-link: #E74C3C;

$color-text-disabled: #7F8C8D;

$color-body-text: #34495e;

$color-btn-primary: #1abc9c;