$menu-height: 65px;

.container {
  width: 95%;
}

.app-main-container {

  @include breakpoint( $bp-smaller ) {
    margin-top: 30px;
  }

  @include breakpoint( $bp-desktop ) {
    margin-top: 45px;
  }
}

body {
  background-color: $color-page;
  padding-bottom: 50px;
}

.modal {
  background-color: rgba( $color-page, 0.4);
}

.modal-content {
  background-color: $color-page;
}

body,
html,
.content-area,
.site-main {
  height: 100%;
  color: $color-body-text;
}

.form-control {
  color: $color-body-text;
  background-color: #ECF0F1;
  height: 30px;
  padding: 8px 12px 8px 0;
//    width: 250px;
  border: none;
  border-bottom: 1px solid #7F8C8D;
  border-radius: 0px;
//  margin-left: 6px;

}

.app-btn {
  padding: 15px 40px;
  background-color: $color-header-link;

  &:hover {
    background-color: darken($color-header-link, 20% );
  }
}

.fud-btn {
  background-color: $color-btn-primary;
  border-radius: 0px;
}

.search-submit {
  button {
    width: 90px;
    height: 32px;
    margin-left: 0px;
    color: #f6f6f6;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: -4px;
    padding: 1px;
  }

  .home-search {
    display: none;
  }

  .home-search + i {
    font-size: 20px;
  }

}

.form-control[disabled] {
  color: $color-text-disabled;
}