/*
*   Typekit Font Weights
*
*    100 = thin
*    200 = extra-light
*    300 = light
*    400 = normal, book
*    500 = medium
*    600 = demi-bold
*    700 = bold
*    800 = heavy
*    900 = black
*
*/

@font-face {
  font-family: 'Emoji';
  src: url('vendor/emoji-font/EmojiSymbols-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flat-Glyphicons';
  src: url('vendor/flat-ui/fonts/glyphicons/flat-ui-icons-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
