.home {
  position: relative;
  min-height: 700px;

  .home-search {
    display: initial;
  }

  .main-container {
    .search-bar {

      position: absolute;
      top: 550px;
      left: 30px;

      .search-what,
      .search-where {
        float: left;
        position: relative;
        max-width: 300px;
        margin-bottom: 10px;
        margin-right: 10px;

        label {
          color: #7F8C8D;
          position: absolute;
          top: 4px;
          left: 10px;
          font-size: 18px;
          text-transform: uppercase;
        }

        input {
          background-color: $color-header;
          padding-left: 75px;
          height: 50px;
          padding-left: 75px;
          width: 300px;


          &:active {
            border: 0px;
          }
        }
      }

      .search-where {
        margin-right: 30px;
      }

      .search-submit {

        button {
          width: 200px;
          height: 50px;
          margin: 0px 0 0 0;
          color: $color-white;
          text-transform: uppercase;
        }
      }

      @include breakpoint($bp-desktop) {

        .search-what {
          width: 300px;
          margin-right: 10px;
        }

        .search-where {
          width: 300px;

          input {
            padding-left: 90px;
          }
        }
      }

      @include breakpoint($bp-mobile-tablet) {
        top: 470px;
        left: 15px;
      }

      @include breakpoint($bp-mobile) {

        top: 465px;
        left: 0px;

        .search-where,
        .search-what,
        .search-submit {
          float: left;
          max-width: 275px;
          padding-left: 5px;

          input {
            width: 275px;
            padding-left: 75px;
          }
        }

        .search-submit {
          display: block;
        }
      }
    }
  }

  .bg-home,
  .home-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    min-height: 600px;
  }

  .bg-home {
    background-image: url('../assets/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
  }

  .home-overlay {
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  .home-copy {
    color: $color-header;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    h1 {
      margin-bottom: 30px;
      padding-left: 0;
    }

    h6 {
      font-size: 24px;
      margin-bottom: 35px;
      color: #ECF0F1;
    }
    h4 {
      padding-top: 10px;
      padding-left: 10px;
    }

    @include breakpoint($bp-desktop) {
      margin-top: 50px;
    }

    @include breakpoint($bp-mobile) {
      h1 {
        font-size: 40px;
        padding-left: 10px;
      }
      h4 {
        font-size: 20px;
      }
      h6 {
        font-size: 18px;
      }
    }
  }
}