.login {
  position: relative;
  padding: 0;
  margin-bottom: 0;
  background: $color-page;
  color: $color-body-text;

  h3 {
    margin-bottom: 50px;
  }

  form {
    .btn-primary {
      margin-top: 30px;
    }
  }

  input {
    background-color: rgba(255,255,255,0.1);
  }

  .login-box {
    form {
      > div {
        padding-left: 0px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}

.app-main-container {
  margin-bottom: 50px;
}