.profile-register {

  .register {

    h3 {
      margin-bottom: 50px;
    }

    .password,
    .password + div {
      padding: 0px;
    }

    .btn-block {
      font-size: 26px;
    }

    .register-submit {
      margin-top: 30px;
    }

    .register-pw-info {
      font-size: 13px;
      margin-top: 5px;
    }

    input {
      background-color: rgba(255,255,255,0.1);
    }

    @include breakpoint( $bp-desktop) {
      form {
        width: 50%;

        .password {
          padding: 0 15px 0 0;
        }

        .password + div {
          padding: 0 0 0 15px;
        }
      }
    }

    @include breakpoint( $bp-mobile ) {
      .register-submit {
        margin-top: 50px;
      }

      h3 {
        font-size: 26px;
        margin-top: 0;
      }

      label,
      input {
        font-size: 13px;
      }
    }
  }
}

/* Register New User Modal */
.guest-register-modal {

  margin: 50px auto 100px auto;

  .main {

    span {
      display: block;
      margin-top: 20px;
      font-size: 15px;
    }

    #url_input {
      margin-top: 25px;
      width: 300px;
      padding: 18px 10px;
      color: #fff;
      background-color: #E74C3C;
      border-radius: 0;
      border: none;
      font-size: 17px;
      text-align: center;
    }

    .reminder {
      margin-top: 50px;
      margin-bottom: 100px;
      color:#16A085;
      text-decoration: underline;

    }

    h5 {
      margin: 50px;
    }
  }

  button {
    font-size: 22px;
  }

  .register-init {
    padding: 30px;
    width: 80%;
    margin: 50px auto;

    .timepicker-container {
      width: 160px;
      margin: 0 auto;
    }
  }

  .last-step {
    margin: 50px auto;
  }

  @include breakpoint( $bp-tablet ) {

  }

  @include breakpoint( $bp-mobile ) {

    margin-bottom: 30px;

    .main {

      margin: 20px auto;

      h3 {
        font-size: 25px;
      }

      h6 {
        font-size: 19px;

        span {
          font-size: 15px;
          margin-top: 20px;
          display: block;
          line-height: 1.5em;
        }
      }

      #url_input {
        width: 100%;
        font-size: 15px;
      }

      .reminder {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      h5 {
        margin: 0 0 30px 0;
        font-size: 22px;
      }

      .btn-warning,
      .btn-primary {
        margin-bottom: 20px;
        width: 200px;
      }

      .btn-primary {

      }
    }

    .register-init {
      padding: 0px;
      width: 100%;

      .timepicker-container {
        margin-top: 50px;
      }

      .form-group {
          margin-top: 30px;

        button {
          font-size: 18px;
          width: 100%;
        }
      }
    }

    .last-step {
      form {
        .password + div {
          padding-left: 0px;
        }
      }
    }
  }
}