$color-muted-vote: rgba(0,0,0,0.5);
$vote_primary: rgba(26, 188, 156, 1);
$vote_danger: rgba(231, 76, 60, 1);


.main-profile-container {

  padding-bottom: 50px;

  #timepicker {
    max-width: 300px;
    margin-top: 30px;
    font-size: 15px;

    .edit-picker {
      width: 160px;
    }
  }

  .info-header {
    padding-left: 0;

    h6 {
      margin-bottom: 40px;
      font-weight: 300;
    }

    .info {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.5em;
      font-style: italic;
    }
  }

  .profile-item-list {

    .profile-item {
      position: relative;
      min-height: 348px;
      height: 450px;
      border: 2px solid transparent;
      font-family: 'Oswald', sans-serif;

      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */

      .remove-item {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #dddddd;
        z-index: 2;
      }

      .item-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-size: cover;
        z-index: -1;
      }

      .item-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px 15px 25px 15px;
        color: $color-white;

        a {
          color: $color-white;
        }

        background: -moz-linear-gradient(top,  rgba(206,206,206,0.02) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,0.02)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(206,206,206,0.02) 0%,rgba(0,0,0,0.56) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(206,206,206,0.02) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(206,206,206,0.02) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(206,206,206,0.02) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05cecece', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */



        .item-header {

          margin-top: 45px;

          address {
            margin-bottom: 0px;
          }

          .item-title {
            width: 90%;
            font-size: 30px;
            position: relative;
            margin-bottom: 15px;
            margin-top: 15px;
            font-weight: 300;
//            font-family: 'Karma', serif;
            font-family: 'Open Sans Condensed', sans-serif;

            i {
              padding-left: 5px;
            }

            .item-name {
              display: inline-block;
              max-width: 75%;
              padding-right: 5px;
            }

            .item-rating {
              position: absolute;
              top: 0;
              font-size: 60%;
              padding-left: 10px;
              padding-top: 13px;
            }

          }

          > span {
            display: inline-block;
            padding-top: 15px;

            i {
              font-size: 24px;
            }
          }

          .vote-buttons {
            position: absolute;
            right: 0;
            bottom: 30px;
            margin-bottom: 0;

            button.btn-primary{
              position: relative;
              right: 0px;
              border-radius: 50%;
              padding: 15px 15px 12px 15px;
              background-color: $color-muted-vote;
            }

            button.btn-danger {
              position: relative;
              right: 14px;
              bottom: -15px;
              border-radius: 50%;
              padding: 10px 10px 7px 10px;
              background-color: $color-muted-vote;
            }

            button {
              span {
                i {
                  height: 20px;
                  width: 20px;
                  font-size: 15px;
                  color: rgba(255,255,255,0.5);
                }
              }
            }
          }
        }

        .item-details {

//          font-family: 'Oswald', sans-serif;

          h5 {
            font-size: 15px;
            margin-bottom: 0px;

            > span {
              display: inline-block;
              margin-bottom: 5px;
              color: $color-profile-address;
            }

            small {
              color: $color-profile-address;
              font-size: 14px;
            }

          }

          .item-phone {

            margin-top: 30px;
            font-size: 20px;
            font-weight: 300;
            font-family: 'Karma', serif;
          }

          address {
            margin-bottom: 10px;
            margin-top: 5px;

            h5 {
              margin-top: 0px;
            }
          }

          .item-footer {

            .vote {
              position: relative;

              .buttons {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: 0px;

                i {
                  font-size: 18px;
                }
              }

              .btn-danger {
                background-color: #c0392b;
              }

              .comment {
                margin-bottom: 0px;
                margin-top: 15px;
                width: 71%;

                @include breakpoint( $bp-mobile ) {
                  width: 68%;
                }

                label,
                input {
                  font-size: 14px;
                }

                label {
                  color: $color-profile-address;
                  font-weight: 300;
                }

                input {
                  height: 43px;
                  padding: 4px 12px;
                  background: rgba(255,255,255,0.2);
                  border: 2px solid rgba(255,255,255,0.2);
                  color: #f4f4f4;
                }
              }
            }
          }
        }
      }

      &:hover {
        cursor: pointer;

        .item-container {
          .item-header {
            .vote-buttons {
              button.btn-primary {
//                $vote_primary: rgba(26, 188, 156, 1);
                background-color: $vote_primary;

                &:hover {
                  background-color: darken( $vote_primary, 7% );
                }
              }

              button.btn-danger {
//                $vote_danger: rgba(231, 76, 60, 1);
                background-color: $vote_danger;

                &:hover {
                  background-color: darken( $vote_danger, 12% );
                }
              }

              button {
                span {
                  i {
                    color: rgba(255,255,255,0.9);
                  }
                }
              }
            }
          }
        }
      }

      @include breakpoint( $bp-md ) {
        height: 385px;
      }

      @include breakpoint( $bp-mobile ) {
        height: 390px;
        border: 0px solid transparent;

        .item-container {
          .item-header {
            .vote-buttons {
              button.btn-primary {
//                $vote_primary: rgba(26, 188, 156, 1);
                background-color: $vote_primary;
              }

              button.btn-danger {
//                $vote_danger: rgba(231, 76, 60, 1);
                background-color: $vote_danger;
              }

              button {
                span {
                  i {
                    color: rgba(255,255,255,0.9);
                  }
                }
              }
            }
            .item-title {
              font-size: 28px;
            }
          }
        }
      }
    }

    .select-true {
      background: rgba(26, 188, 156, 0.5)
    }

    .select-false {
      background: rgba(192, 57, 43, 0.5);
    }
  }

  @include breakpoint( $bp-mobile ) {

    width: 100%;

    .info-header {
      padding-left: 15px;

      h6{
        font-size: 16px;
      }
    }

    #timepicker {
      width: 95%;
      margin: 30px auto;
      text-align: center;

      .edit-picker {
        margin: 0 auto;
      }
    }
  }

  .winner {
    margin: 10px 0 30px 0;
    padding: 10px;
    background: #95A5A6;
    color: #ECF0F1;

    h5 {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 7px;
      color: #ECF0F1;
    }

    .winner-image {
      width: 10%;
    }

    .winner-header {
      margin-left: 3px;
      padding: 0;
      width: 100%;
      position: relative;

      .title {
          float: left;
          width: 40%;
          padding: 10px 30px 0 0;
          font-size: 26px;
          font-family: 'Open Sans Condensed', sans-serif;

          a {
//            color: rgb(231, 76, 60);
            color: #2C3E50;
          }

          .item-rating {
            margin-left: 10px;
            font-size: 75%;
          }
      }

      .address {
        float: left;
        width: 33%;
        font-family: 'Oswald';
        font-size: 15px;
        padding: 15px;

        @include breakpoint( $bp-mobile ) {
         display: block;
        }
      }

      .phone {

        a {
          color: #2C3E50;
          float: left;
          width: 27%;
          font-size: 20px;
          font-family: 'Open Sans Condensed', sans-serif;
          text-align: right;
        }
      }

      .fa-close {
        position: absolute;
        top: -30px;
        right: 3px
      }

      @include breakpoint( $bp-mobile ) {
        .title,
        .address,
        .phone {
          float: none;
          width: 100%;
          text-align: left;
        }

        .title {
          a {
            font-size: 20px;
          }

          .item-rating {
            font-size: 65%;
          }
        }

        .address {
          font-size: 15px;
          padding: 5px 0 5px 0;
        }

        .phone {
          a {
            text-align: left;
            padding-left: 0;
          }
        }
      }
    }
  }
}