.profile-edit {

//  .form-control {
//    color: $color-text-disabled;
//  }

  .edit-profile {
    margin-bottom: 50px;
  }

  .profile-url {
    padding-left: 10px;
    height: 40px;
  }
  input {
    background-color: rgba(255, 255, 255, 0.1);
  }

  @include breakpoint( $bp-mobile ) {
    button {

    }
  }
}