<form class='clearfix' name="registerForm" ng-submit='register();'>

    <div class="form-group">
        <label>Pick an easy to remember name (e.g, 'Doejo Chicago')</label>
        <input class='form-control' placeholder="" type="text" ng-model="user.profile.temp_name" required="" />
    </div>

    <div class="form-group">
        <label>Zipcode (optional, but helps with search results) </label>
        <input class='form-control' placeholder="What zipcode do you typically eat lunch in?" type="text" ng-model="user.profile.zipcode" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class='form-control' placeholder='Email' type="email" ng-model="user.credentials.email" required="" />
    </div>

    <div class="form-group clearfix">
        <div class="form-group col-md-6 password" style="padding-left: 0;">
            <label>Password</label>
            <input name="pw1" class='form-control' placeholder='Password' type="password" ng-model="user.credentials.password" required="" />
        </div>

        <div class="form-group col-md-6">
            <label>Repeat Password &nbsp;&nbsp;</label>
            <input name="pw2" match="user.credentials.password" class='form-control' placeholder='Type password again' type="password" ng-model="user.credentials.password_confirm" required="" />
            <div class="register-pw-info"><span ng-show="registerForm.pw2.$error.match" class="text-danger">Passwords don't match.</span></div>
        </div>
    </div>

    <div class="form-group register-submit">
        <button ng-click='cancel();' style='font-size: 22px;' class='btn btn-primary btn-lg btn-block' ng-disabled='registerForm.$invalid'>Sign Up</button>
    </div>

</form>